<% if rstudio_version.to_f >=1.3 %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script> function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).val()).select();
  document.execCommand("copy");
  $temp.remove();
}
</script>

<form action="/rnode/<%= host %>/<%= port %>/auth-sign-in" method="post" target="_blank">
  <button class="btn btn-primary" type="submit">
  <input type="hidden" id="username" name="username" value="<%= ENV["USER"] %>">
  <input type="hidden" id="password" name="password" value="<%= password %>">
    <i class="fa fa-registered"></i> Login to RStudio Server
  </button>
  </form>
 <hr>
 <h4>To login, use the following credentials:</h4>
 Username: <%= ENV["USER"] %> <br/>
 Password: <button class="btn btn-primary" style="transform: scale(0.9, 0.9);"  onclick="copyToClipboard('#password')">Click to copy</button>

<% else %>

<form action="/rnode/<%= host %>/<%= port %>/auth-do-sign-in" method="post" target="_blank">
  <input type="hidden" name="username" value="<%= ENV["USER"] %>">
  <input type="hidden" name="password" value="<%= password %>">
  <input type="hidden" name="staySignedIn" value="1">
  <input type="hidden" name="appUri" value="">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-registered"></i> Connect to RStudio Server
  </button>
</form>

<% end %>
